<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="myApplicationAware"
          class="mytest.obj.MyApplicationAware">
    </bean>
	<bean id="myBeanPostProcessor"
          class="mytest.obj.MyBeanPostProcessor">
    </bean>
	<bean id="myInitializingBean1" class="mytest.obj.MyInitializingBean1">
		<property name="name" value="Gin 1 号"/>
	</bean>
	<bean id="myInitializingBean2" class="mytest.obj.MyInitializingBean2"
		  init-method="setOtherName">
		<property name="name" value="Gin 1 号"/>
	</bean>
	<bean id="lifeCycleBean" class="mytest.obj.LifeCycleBean"
		  init-method="initMethod" destroy-method="destroyMethod">
		<property name="test" value="test"/>
	</bean>

	<bean id="studentService" class="mytest.obj.StudentService">
		<property name="name" value="Gin"/>
		<property name="age" value="10"/>
	</bean>
	<bean class="mytest.obj.BeanFactoryPostProcessor_1"/>
	<bean class="mytest.obj.BeanFactoryPostProcessor_2"/>

	<bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>
	<bean id="student" class="mytest.obj.StudentService">
		<property name="name" value="Gin_student"/>
		<property name="age" value="10"/>
	</bean>

	<bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application1.properties</value>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application2.properties</value>
			</list>
		</property>
	</bean>

	<bean id="student_1" class="mytest.obj.StudentService">
		<property name="name" value="${studentService.name}"/>
	</bean>
</beans>